body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: rgb(153, 127, 255);
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 20px;
}

#cart {
  position: absolute;
  background-color: aliceblue;
  padding: 20px;
  right: 5%;
  top: 5%;
  visibility: hidden;
}

.products {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.product {
  width: auto;
  padding: 20px;
  text-align: center;
  height: auto;
  background-color: rgb(255, 255, 255, 0.2);
  color: black;
}

#button {
  padding: 5px 30px;
  border-radius: 4px;
  background-color: blueviolet;
  border: none;
}

nav {
  height: auto;
  width: 90%;
  display: flex;
  padding: 5px 10px;
  justify-content: flex-end;
}
.navButton {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: none;
  background-color: aliceblue;
}
.navButton > span {
  border: 1px solid black;
  width: 30px;
  height: 0;
  margin: -4px;
}
img {
  width: 60px;
  height: 40px;
  margin: 10px;
}
#buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
#buttons > .button {
  padding: 17px;
  border-radius: 5px;
  background-color: blueviolet;
  border: none;
}
.name {
  font-weight: 800;
  font-size: 90%;
}

#stocks {
  padding: 10px;
  display: inline-block;
  background-color: rgb(255, 255, 255, 0.1);
  box-shadow: 3px 4px 2px 2px rgb(0, 0, 0, 0.1);
  color: black;
}
